body{ 
	font-family: "微软雅黑","宋体","仿宋","楷体";
}

.main_contant{
	
}

.inner_nav{
	margin: 60px auto 40px auto;
	border-radius: 4px;
}

select{
	padding: 0px 0px 0px 4px;
	margin: 0px;
	height:auto;
	width: auto;
	font-family: "微软雅黑","宋体","仿宋","楷体";
}