body{
    padding: 0px;
    margin:0px;
    font-family:Helvetica,Arial,"微软雅黑",sans-serif;
    font-size: 14px;
}
/*nav bar*/
.nav{
	position: fixed;
    z-index: 100;
	top:0;
    padding: 14px 0;
    width: 100%;
    background: #222;
    vertical-align: middle;
}
.nav .nav-inner{
	margin:0 auto;
	width: 80%;
    min-width: 900px;
}
.nav .brand{
	float: left;
    margin-right: 20px;
	font-size: 40px;
    font-family: 'Tangerine',cursive;
	text-decoration: none;
    font-weight: bold;
	color: #777;
}
	.nav .brand:hover,
	.nav .brand:focus {
		color: #fff;
	}
.nav ul {
    width: 100%;
    list-style: none;
}
	.nav ul li {
		float: left;
		color: #fff; 
	}
    .nav ul li a { 
        text-decoration: none;
        color: #777;
        font-size: 15px;
        padding: 20px;
    }  
        .nav ul li a:hover {  
            color: #fff;  
        }  
        .nav ul li .active{
        	color: #fff;
        }
/*nav bar END*/