body{
	background: #EFF8F8;
}
.main_content{
	width:1000px;
	margin: 80px auto;
	background: #FFF;
	border: #D4D4D4 solid 1px;
}
.table th{
	text-align:center;
}
.table td{
	text-align:center;
	vertical-align:center;
}
.tbl_head{
	background:#96CDCD;
}
