body{
	padding: 0px;
	margin:0px;
	font-family: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
	cursor: default;
	background: #D2D8DE;
}

.main_content{
	width:1000px;
	margin: 60px auto;
}
/*右侧栏*/
.rightSide{
	width: 240px;
	float: right;
	margin-left: 10px;
}
/*主体内容*/
.main{
	width: 750px;
	min-height: 400px;
	padding:0px;
	overflow:hidden;

}

.baseDiv{
	padding: 0;
	margin-bottom: 20px;
	border-radius: 6px;
	box-shadow: 1px 1px 2px #A7A8AD;
	background: #FcFcFc;
}

.sidebarTitle{
	color: #fff;
	margin:-1px;
	padding: 5px;
	vertical-align: top;
	font-size: 1.2em;
	line-height: 1.5em;
	background: #4A708B;
	border-bottom: 1px solid #DADFE1;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	text-indent: 1em;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.sidebarMenu{
	margin: 0;
	list-style:none;
	font-size: 1em;
}

.sidebarMenu li{
}
.sidebarMenu li a{
	text-decoration: none;
	display: block;
	line-height: 36px;
	padding-left: 10px;
	border-bottom: 1px solid #C6C8CB;
	color: #444;
}
.sidebarMenu li a:hover{
	background: #F0F1F2;
	box-shadow: inset 0 0 6px #ccc;
}

.feed{
	margin-bottom: 20px;
	max-height: 200px;
	color: #444;
	padding: 15px 20px 0 20px;
	overflow: hidden;
	display: block;
	box-shadow: 0 1px 3px rgba(0,0,0,0.06);
}
.feed .title{
}
.feed .title a{
	text-decoration: none;
	margin-left: 20px;
}
.ico_type_Translated {
	background: url(../img/ico_Translated.gif) no-repeat 0 0;
	vertical-align: middle;
}
.ico_type_Original{
	background: url(../img/ico_Original.gif) no-repeat 0 0;
	vertical-align: middle;
}

.feedManage{
	float:right;
	padding: 0 !important;
	line-height: 30px !important;
	text-align: right !important;
	white-space: nowrap;
}
.feedManage *{
	display: inline;
}