body{
    background: #ededef;/*url('../img/bg.jpg');*/
    background-attachment:fixed;
}
.main_content{
	width:860px;
	margin: 80px auto;
}
.baseDiv{
	background: #FFF;
	border:  1px solid #D4D4D4; 
}

/*右侧栏*/
.rightSide{
	width: 240px;
	float: right;
	margin-left: 10px;
}
.floatNav{
	background: #FFF;
	position: fixed;
	right: 4px;
	width:230px;
	border:1px solid #D4D4D4; 
}

.floatNav .floatMenu{
	list-style: none;
	margin: 6px;
}
.floatNav .floatMenu li{
	line-height: 1.6em;
}
/*主体内容*/
.main{
	overflow:auto;
}

.sidebarTitle{
	color: #535353;
	margin:-1px;
	font-size: 18px;
	line-height: 40px;
	height: 40px;
	background: #FBFBFB;
	padding: 0 10px;
	border: 1px solid #D4D4D4;
}
.sidebarMenu{
	margin: 0px 10px;
	list-style:none;
	background-color: red;
}

.sidebarMenu li a{
	text-decoration: none;
	display: block;
	line-height: 36px;
	padding-left: 10px;
	border-bottom: 1px solid #C6C8CB;
	color: #444;
}
.sidebarMenu li a:hover{
	background: #f8f8f8;
}

.sidebarList{
	list-style:none;
	margin: 0px 10px;
}
.sidebarList li{
	white-space: nowrap;
	overflow: hidden;
	height: 36px;
	font-size: 14px;
	line-height: 36px;
	border-bottom: #D4D4D4 1px dashed;
}
.sidebarList li a{
	color: #323232;
}
.sidebarList li a:hover{
	color: #009933;
}
.feed{
	line-height: 1.8em;
	color: #444;
	padding: 6px;
	overflow: hidden;
	border-bottom: #efefef 1px solid;
}
.feed .head{ 
	margin-bottom: 6px;
	overflow: hidden;
	line-height: 3.2em;
	height: 3.2em;
}

.feed .head .date{
	background: #7798cb;
	color: #fff;
	width: 50px;
	line-height: 1.6em;
	float: right;
	overflow: hidden;
	text-align: center;
}

.feed .head a{
	color: #036;
	font-size: 16px;
	font-weight: bold;
}

.feed .body{
	font-size: 14px;
	max-height: 160px;
	overflow: hidden;
	margin-bottom: 10px;
}

/*博客图片预览*/
.feed .body img{
	max-width: 200px;
}
.feed .foot{
	font-size: 12px;
	color: #666;
}

#gototop {
	position: fixed;
	float: right;
	z-index: 10;
	right: 10px;
	bottom: 10px;
}
.commDiv{
	border-bottom: #ddd solid 1px;
	font-size: 12px;
}
	.commDiv:hover{
		background: #F7F7F7;
	}

	.commDiv .commInfo {
		padding:2px 10px;
		width: 120px;
		height: 100%;
		display: block;
		border-right: 1px #F0F0F0 solid;
	}
	.commDiv .comm{
		margin-left: 6px;
		white-space:pre-wrap;
		word-wrap: break-word;
	}

.commForm{
	padding:10px;
}
.commForm textarea{
	width:600px;
	height:100px;
	white-space:pre-wrap;
	word-wrap: break-word;
}
